body {
  color: #666;
  background-color: #eee;
}

#content {
}

.gif_box {
  position: absolute;
  left: 50%;  
  margin-left: -300px;
  width: 600px;
  background-color: #fff;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 16px;
}

.gif_box_info {
  float: left;
}

.gif_box_icon {
  vertical-align: middle;
}

.gif_image_wrapper {
  background-color: #000;
  margin-top: 6px;
  padding: 6px;
  clear: both;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
  cursor: pointer;
}

.gif_image {
  vertical-align: middle;
}

.gif_box_feedback {
  margin-top: 16px;
}

.gif_box_comment {
  float: left;
}

.gif_box_like {
  float: left;
  margin-left: 16px;
  cursor: pointer;
}

.gif_box_download {
  float: right;
  margin-left: 16px;
  cursor: pointer;
}

