body {
  color: #666;
  background-color: #eee;
}

#content {
  margin: 0 auto;
}

.gif_box {
  margin: 10px;
  float: left;
  background-color: #fff;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 16px;
}

.gif_box_info {
  background-color: #fff;
}

.gif_box_icon {
  vertical-align: middle;
}

.gif_image_wrapper {
  background-color: #000;
  margin-top: 6px;
  padding: 6px;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}

@media only screen and (max-device-width : 1800px) {
  .gif_image {
    width: 268px;
    height: 268px;
    margin: 0 auto;
  }
}

@media only screen and (max-device-width : 320px) {
  .gif_image {
    width: 228px;
    height: 228px;
    margin: 0 auto;
  }
}

.gif_box_feedback {
  background-color: #fff;
  margin-top: 16px;
}

.gif_box_comment {
  background-color: #fff;
}

.gif_box_like {
  background-color: #fff;
  margin-left: 16px;
}

.gif_box_download {
  float: right;
  background-color: #fff;
  margin-left: 16px;
}

#button_page {
  padding: 20px;
  text-align: center;
  clear: both;
}

#button_page_prev, #button_page_next {
  background-color: white;
  color: #666;
  font-size: 16px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  text-shadow: 0 -1px 1px #FFF, -1px 0 1px #FFF, 1px 0 1px #aaa;
  -webkit-box-shadow: 1px 1px 2px #E7E7E7;
  -moz-box-shadow: 1px 1px 2px #E7E7E7;
}
