<html>
  <head>
    <link href="stylesheets/index.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <% for i in 0..1 do %>
      title: タイトル<br>
      Like!
      <img id="gifimage" src="images/gifs/<%= i %>.gif"><br>
    <% end %>
    image_count: <%= @image_count %>
  </body>
</html>

