<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="stylesheets/index.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="javascripts/index.js"></script>
  </head>
  <body>
    <div id="content">
      <% @gif_image_hash.each do |title, image_url| %>
        <div class="gif_box">
          <div class="gif_box_info">
            <img class="gif_box_icon" src="images/icon.jpeg"><%= title %><br>
          </div>
          <div class="gif_image_wrapper">
            <img class="gif_image" src="<%= image_url %>"><br>
          </div>
          <div class="gif_box_feedback">
            <img class="gif_box_comment" src="images/comment.png">
            <img class="gif_box_like" src="images/like.png">
            <img class="gif_box_download" src="images/download.png">
          </div>
        </div>
      <% end %>
    </div>
    <br>
  </body>
</html>

